%tr{:id => talk.id}
  %td= talk.title
  %td= talk.user.name
  %td= talk.scheduled_at.try(:strftime, "%d/%m/%Y")
  %td
    - if talk.scheduled_at.present?
      %span.glyphicon.glyphicon-check
    -else
      = render partial: 'vote', locals: {talk: talk}
