= link_to new_talk_path, class: "btn btn-primary pull-right" do
  %span.glyphicon.glyphicon-plus Add
%table.table.table-striped
  %thead
    %th Title
    %th Offered By
    %th Date
    %th Votes
  %tbody
    = render collection
